PORT=

BASE_DOMAIN=

MONGO_DB=
DB_NAME=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=

JWT_SECRET=
SESSION_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_DEV=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

EMAIL_USER=
EMAIL_PASSWORD=